.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background: linear-gradient(115deg, #56d8e4 10%, #007bff 90%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-form {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background: linear-gradient(115deg, #007bff 10%, #56d8e4 90%);
  border: 3px solid white;
  border-radius: 6px;
}

label {
  grid-column: 1 / 2;
  font-size: 18px;
  font-style: italic;
  font-display:  block;
  transition: 0.3s ease all;
  color: azure;
}

input,
select {
  grid-column: 2 / 3;
  font-size: 16px;
  text-align: center;
  transition: all 250ms;
}

p {
  font-size: 12px;
  grid-column: 3 / 3;
  color: navy;
  margin-top: 0px;
  align-items: center;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

.App-button {
  text-align: center;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  margin: 0 10px;
  position: relative;
  border: none;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  margin: 0 10px;
  transition: all .5s ease;
  border: 3px solid white;
  text-transform: uppercase;
  line-height: 1;
  grid-column: 2 / 3;
}

.App-button:hover {
  color: #007bff;
  background-color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}